node_modules
.next
out
build
dist

.env
.env*.local

.DS_Store
Thumbs.db

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.vercel
next-env.d.ts
.tsbuildinfo
*.tsbuildinfo

_source

.playwright-mcp
page-load-*.png
